/* definir variables */
/* root es un selector generico paara css */
html {
    padding: 0;
    margin: 0;
    right: 0;
    left: 0;
}

:root {
    --theme-color: #F3F5FC;
}

body {
    font-family: inter;
    background-color: var(--Light-blue-light-blue-100, #F3F5FC);
    padding: 0;
    margin: 0;
    right: 0;
    left: 0;
}

.bigContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
}

.logo1 {
    margin: 30px 0;
}

.containerTextoInput {
    left: 0;
    margin-left: 240px;
    height: 480px;
}

.containerTextoInput textarea {
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    background: var(--Light-blue-light-blue-100, #F3F5FC);
    border: none;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    resize: none;
    width: 100%;
    height: 100%;
}

::placeholder {
    color: var(--Dark-blue-dark-blue-300, #0A3871);
}

.containerText {
    width: 370px;
    height: 740px;
    border-radius: 32px;
    background: var(--White, #FFF);
    margin: 0 40px;
    margin-top: 30px;
    text-align: center;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    padding: 0;
}

.containerText .imgMuneco {
    width: 226px;
    margin: 0;
    padding: 0;
    margin-top: 180px;
}

.containerNoMessage {
    text-align: center;
    margin: 0 20px;
    padding: 0;
}

.containerText .noMessageOne {
    color: var(--Gray-gray-500, #343A40);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    /* 28.8px */
    /* border: 2px solid #343A40; */
}

.containerAlert {
    display: flex;
    align-items: center;
    margin-left: 240px;
}

.containerAlert p {
    margin-left: 5px;
    opacity: 0.80;
    color: #495057;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
}

.containerButton {
    width: 680px;
    margin-left: 240px;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    padding: 0;
}

.containerButton .bEncriptar {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 24px;
    line-height: normal;
    align-items: flex-start;
    gap: 8px;
    border-radius: 24px;
    background: var(--Dark-blue-dark-blue-300, #0A3871);
    width: 308px;
    cursor: pointer;
}

.containerButton .bDesencriptar {
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 24px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    background: #D8DFE8;
    width: 308px;
    cursor: pointer;
}

.containerText .contenedorResultados {
    width: auto;
    height: auto;
    display: none;
}

.containerText .textoEncriptado {
    color: var(--Gray-gray-400, #495057);
    background: var(--White, #FFF);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
    width: auto;
    height: 400px;
    margin: 120px 35px;
    /* display: none; */
}

.containerText .botonCopiar {
    width: 270px;
    padding: 24px;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #D8DFE8;
    /* display: none; */
}

.botonCopiar:hover {
    box-shadow: 0 4px 16px rgba(22, 39, 78);
    transition: all 0.2s ease;
}

.botonCopiar:active {
    color: rgb(244, 244, 244);
    background-color: var(--Dark-blue-dark-blue-300, #0A3871);
}

/* css del corazon */
.footer-heart {
    text-align: center;
    font-family: open sans, sans-serif;
    padding: 0;
    margin: 0;
    margin: 10px 0;
}

.emoji {
    vertical-align: middle;
    animation: latido 0.5s infinite alternate;
}

@keyframes latido {
    0% {
        transform: scale(1);
        /* Escala normal */
    }

    100% {
        transform: scale(1.2);
        /* Escala aumentada */
    }
}



@media (min-width:768px) and (max-width:1340px) {
    .bigContainer {
        display: inline-block;
        /* margin: 0;
        padding: 0;
        left: 0;
        right: inherit; */
        /* width: 100%; */
    }

    .logo1 {
        margin: 60px 0;
    }

    .containerTextoInput {
        left: 0;
        margin: 0 40px;
        height: 480px;
    }

    .containerAlert {
        display: flex;
        align-items: center;
        margin-left: 40px;
    }

    .containerButton {
        width: auto;
        flex-direction: row;
        left: 0;
        right: 0;
        align-items: center;
        margin: 0 40px;
        padding: 0;
    }

    .containerButton .bEncriptar {
        width: 330px;

    }

    .containerButton .bDesencriptar {
        width: 330px;
    }

    .containerText {
        width: auto;
        height: 100%;
        border-radius: 32px;
        background: var(--White, #FFF);
        margin: 70px 40px;
        text-align: center;
        padding: 32px 0;
        /* shadow */
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    }

    .containerText .containerNoMessage {
        height: auto;
        flex-direction: column;
        align-items: center;
        left: 0;
        top: 0;
        padding: 50px 0;
        line-height: 50px;

    }

    .imgMuneco {
        display: none;
    }

    .containerNoMessage .noMessageOne {
        color: var(--Gray-gray-500, #343A40);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 980;
        margin: 0;
        padding: 0;
        /* margin-top: 100px; */
        /* 28.8px */
        /* border: 2px solid #343A40; */
    }

    .containerNoMessage .noMessageTwo {
        margin: 0;
        padding: 0;
    }

    .contenedorResultados {
        margin: 0 40px;
        display: none;

    }

    .containerText .textoEncriptado {
        width: auto;
        height: auto;
        padding-bottom: 32px;
        margin: 0;
        /* display: none; */

    }

    .containerText .botonCopiar {
        width: 100%;
    }
}

@media (max-width:767px) {
    .bigContainer {
        display: inline-block;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
    }

    .logo1 {
        margin: 24px 0;
        padding: 0;
    }

    .containerTextoInput {
        width: auto;
        margin: 20px;
        height: 280px;
    }

    .containerTextoInput input {
        color: var(--Dark-blue-dark-blue-300, #0A3871);
        background: var(--Light-blue-light-blue-100, #F3F5FC);
        border: none;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0 20px;

    }

    .containerAlert {
        display: flex;
        align-items: center;
        margin: 0 40px;
    }

    .containerButton {
        width: auto;
        flex-direction: column;
        left: 0;
        right: 0;
        align-items: center;
        margin: 0 40px;
        padding: 0;
        gap: 24px;
    }

    .containerButton .bEncriptar {
        width: 100%;

    }

    .containerButton .bDesencriptar {
        width: 100%;
    }

    .containerText {
        width: auto;
        height: 100%;
        border-radius: 32px;
        background: var(--White, #FFF);
        margin: 0 40px;
        margin-top: 50px;
        padding: 32px 0;
        text-align: center;
        /* shadow */
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    }

    .imgMuneco {
        display: none;
    }

    .containerText .containerNoMessage {
        height: auto;
        flex-direction: column;
        align-items: center;
        left: 0;
        top: 0;
        padding: 30px 0;
        line-height: 20px;

    }

    .containerNoMessage .noMessageOne {
        color: var(--Gray-gray-500, #343A40);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 980;
        margin: 0;
        padding: 0;
        /* margin-top: 100px; */
        /* 28.8px */
        /* border: 2px solid #343A40; */
    }

    .containerNoMessage .noMessageTwo {
        margin: 15px 50px;
        padding: 0;
    }

    .contenedorResultados {
        margin: 0 40px;
        display: none;

    }

    .containerText .textoEncriptado {
        width: auto;
        height: auto;
        padding-bottom: 32px;
        margin: 0;
        /* display: none; */

    }

    .containerText .botonCopiar {
        width: 100%;
    }
}